/* ---- ALL ---- */
:root {
    --black: #424242;
    --blue: #4285F4;
    --grey: #d3d3d3;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--black);
}

body {
    font-family: 'Montserrat';
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* ---- NAVBAR ---- */

nav {
  display: flex;
  justify-content: space-between;
  height: 3.75rem;
  padding: 1.25rem 0.625rem;
}

ul {
    display: flex;
    align-items: center;
}

li {
    padding: 0.875rem 0.75rem;
    font-size: .90rem;
    letter-spacing: -.5px;
}

li:hover {
    text-decoration: underline;
}

.profile-icon {
    text-decoration: none !important;
}

.menu-icon {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}

.menu-icon:hover {
    cursor: pointer;
    background-color: rgba(100, 100, 100, 0.1);
}

.menu-btn {
    width: 0.938rem;
}

.profile-icon {
    background-color: var(--blue);
    border-radius: 50%;
    margin-top: -.05rem;
    margin-left: .6rem;
    height: 2.1rem;
    cursor: pointer;
}

.profile-icon a {
    color: #fff;
}

/* ---- MAIN SECTION ---- */

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
}

.search-bar {
    height: 2.813rem;
    width: 35rem;
    border: 1px solid var(--grey);
    border-radius: 2.813rem;
    font-size: 1.2rem;
    padding-left: 3.125rem;
}

.search-bar:hover {
    box-shadow: 0 1px 3px rgba(201, 201, 201, 0.5);
}

.search-bar:focus {
    outline: none;
}