/* ---- ALL ---- */
:root {
    --black: #424242;
    --blue: #4285F4;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--black);
}

body {
    font-family: 'Montserrat';
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* ---- NAVBAR ---- */

nav {
  display: flex;
  justify-content: space-between;
  height: 3.75rem;
  padding: 1.25rem 0.625rem;
}

ul {
    display: flex;
    align-items: center;
}

li:hover {
    text-decoration: underline;
}

.profile-icon {
    text-decoration: none !important;
}